h2 {
    color : coral ;
 }
p {
            color : seagreen;
  }

* {
            border : solid;
   }
.games{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
 .socials {
       display : flex;
       flex-wrap : wrap ;
       justify-content: space-between;
 }